---
layout: page
title: "Docs Like Code"
excerpt: "Docs like code means treating docs as artfully and mindfully as code."
search_omit: true
---
<div align="center">

<p>
Let's find out the best practices and create a balance point between artisanal craft and automation efficiency.
</p>
</div>

<img src="images/docs-like-code-book.jpg" alt="Write Docs Like Code" align="right" height="100" width="159">

<h1>About the book</h1>
<p>We've transformed the way teams work together on docs, and we want to show you the best practices for writing docs using development tools and techniques.</p>
<p><a href="http://www.lulu.com/content/e-book/docs-like-code/20327544" class="btn btn--light-outline btn--large"><i class='fa fa-book'></i> Buy Now</a></p>

{% include sign-up.html %}

<h1>Get the t-shirt!</h1>

<a href="http://docslikecode.com/tshirt/">Coming soon - Docs Like Code t-shirts</a>!

<p>Read more <a href="{{base_url}}/articles/">articles</a> on this site about
using GitHub for documentation.</p>

<p>On the blog at <a href="http://justwriteclick.com">justwriteclick.com</a>, read these blog posts written about real-world experiences treating docs like code.</p>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Treat Docs Like Code: Doc Bugs and Issues. How to maintain high quality by fixing and patching continuously.<a href="https://t.co/uk5Xl2GJUi">https://t.co/uk5Xl2GJUi</a></p>&mdash; Anne Gentle (@annegentle) <a href="https://twitter.com/annegentle/status/772616615623925760">September 5, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Influencing community documentation contributions: what does that look like? <a href="https://t.co/OW40Qb8RpR">https://t.co/OW40Qb8RpR</a></p>&mdash; Anne Gentle (@annegentle) <a href="https://twitter.com/annegentle/status/748503537139617792">June 30, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Why use GitHub as a Content Management System? <a href="https://t.co/0bMfMB8q2I">https://t.co/0bMfMB8q2I</a> <a href="https://t.co/chUbMivcZ7">https://t.co/chUbMivcZ7</a></p>&mdash; Anne Gentle (@annegentle) <a href="https://twitter.com/annegentle/status/677493432600825856">December 17, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{% include sign-up.html %}
